asgiref==3.11.1
attrs==26.1.0
autobahn==25.12.2
Automat==25.4.16
cbor2==5.9.0
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
click==8.3.3
colorama==0.4.6
constantly==23.10.4
cryptography==46.0.7
cssbeautifier==1.15.4
daphne==4.2.1
Django==6.0.4
django-filter==25.2
djangorestframework==3.17.1
djlint==1.36.4
EditorConfig==0.17.1
hyperlink==21.0.0
idna==3.13
Incremental==24.11.0
jsbeautifier==1.15.4
json5==0.14.0
msgpack==1.1.2
packaging==26.1
pathspec==1.1.1
pillow==12.2.0
psycopg2-binary==2.9.12
py-ubjson==0.16.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pyOpenSSL==26.0.0
python-decouple==3.8
PyYAML==6.0.3
redis==7.4.0
regex==2026.4.4
service-identity==24.2.0
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.3
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
ujson==5.12.0
zope.interface==8.3
